<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1><%= title %></h1>
    <a href="/board/write">글쓰기로 이동</a>
    <br>
    <br>
    <table border="1">
        <tr>
            <td>번호</td>
            <td>작성자</td>
            <td>제목</td>
        </tr>
<%
            for(var i=0; i<data.length; i++){
                var oneItem=data[i];
%>
                <tr>
                    <td><%=oneItem.idx%></td>
                    <td><%=oneItem.닉네임%></td>
                    <td><%=oneItem.글제목%></td>
                    <td><a href="/board/read/<%=oneItem.idx%>"><%=oneItem.title%></a></td>
                </tr>
<%
            }
%>

    </table>
  </body>
</html>
