<link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">

<!DOCTYPE html>
<html lang = "en">
    <head>
        <script src="/javascripts/jquery-3.6.1.min.js"></script>
        <title><%= title %></title>
    <!--    <link rel='stylesheet' href='/stylesheets/style.css' /> -->
    </head>    

    <div class="container">
        <h2>게시판 세부 내용</h2>
        <p>게시판 작성 글 세부 내용 출력~~!!</p>
        
         
  <body>
    <%var index%>
    <form action="/board/update" method="get">
        <table class="table">
            <input type="hidden" name="idx" value="<%=data.idx%>"/>
            <%index=data.idx%>
            <tr>
                <td>작성자</td>
                <td><%=data.닉네임%></td>
            </tr>
            <tr>
                <td>제목</td>
                <td><%=data.글제목%></td>
            </tr>
            <tr>
                <td>내용</td>
                <td><%=data.글내용%></td>
            </tr>
            <tr>
                <td>이미지</td>
                <td><img src="<%=data.이미지%>" alt="이미지" width="300" /></td>
            </tr>
            <tr>
                <td colspan="2">
                    <button type="submit">글 수정</button>
                    <a href="/board">리스트로 돌아가기</a>
                </td>
            </tr>
        </table>
        
        <table class="table">
            <%
            for(var i=0; i<comments.length; i++){
                var oneItem=comments[i];
%>
                <tr>
                    <td><%=oneItem.idx%></td>
                    <td><%=oneItem.ID%></td>
                    <td><%=oneItem.댓글%></td>
                </tr>
<%
            }
%>
        </table>

        
    </form>
    <form action="/board/read/<%=index%>" method="post">
        <table border="1">
            <tr>
                <td>작성자</td>
                <td><input type="text" name="ID" id="ID" required/></td>
            </tr>
            <tr>
                <td>내용</td>
                <td><input type="text" name="Comment" id="Comment" required/></td>
            </tr>
            <tr>
                <td colspan="2">
                    <button type="submit">댓글 작성</button>
                </td>
            </tr>
        </table>
    </form>
    <form action="/board/delete" method="get">
        
        <input type="hidden" name="idx" value="<%=index%>"/>
        <button type="submit">글 삭제</button> <!--글 삭제 botton-->
    </form>
  </body>
  </div>
</html>
